<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
      <ion-col width-50 offset-25>
        <h2>Porto Alegre, RS</h2>
        <div></div>
        <h3>Mostly Cloud</h3>
        <h1>20 C</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item>
            <strong>Temp: </strong> 20 C
          </ion-item>
          <ion-item>
            <strong>Humidity: </strong> 79%
          </ion-item>
          <ion-item>
            <strong>Visibility: </strong> 10.0
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>    
</ion-content>
