<ion-header>
    <ion-toolbar>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-row>
        <ion-col width-50 offset-25>
          <h2>{{ (weather && weather.location) ? weather.location.name : '' }} </h2>
          <div><img src="{{ (weather && weather.current) ? weather.current.weather_icons[0] : '' }}"></div>
          <h3>{{ (weather && weather.current) ? weather.current.weather_descriptions : '' }}</h3>
          <h1>{{ (weather && weather.current) ? weather.current.temperature : '' }}</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-100>
          <ion-list>
            <ion-item>
              <strong>Temp: </strong> {{ (weather && weather.current) ? weather.current.temperature : '' }}
            </ion-item>
            <ion-item>
              <strong>Humidity: </strong> {{ (weather && weather.current) ? weather.current.humidity : '' }}
            </ion-item>
            <ion-item>
              <strong>Visibility: </strong> {{ (weather && weather.current) ? weather.current.visibility : '' }}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>    
  </ion-content>
  