<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col width-100>
            <ion-list>
              <ion-item>
                  <strong>City: </strong><ion-input placeholder="Digite a cidade" [(ngModel)]="cityName"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-button [href]="'/tabs/home/' + cityName" router-direction='forward'><strong>Save Changes</strong></ion-button>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
